In [1]:
# variables 
# and assignment operator

a = 2  #int
b = 2.0  #float
c = a+b

In [2]:
c

4.0

In [3]:
# String 

name = "maaz"
name

'maaz'

In [4]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(name)

str

In [7]:
# typecasting
value = str(2)

In [8]:
value

'2'

In [9]:
type(value)

str

In [14]:
value = 2
changing_the_value = float(value)
changing_the_value

2.0

In [16]:
type(changing_the_value)

float

In [ ]:
# input statment in python

name = input("enter the values:")
print(name,type(name))

In [24]:
name = input("enter the value1:")
name1 = input("enter the value2:")
name2 = int(name)+int(name1)
print(name2 , type(name2))

enter the value1:22
enter the value2:22
44 <class 'int'>

In [25]:
# membership operator 
name = "maaz"
"m" in name

True

In [29]:
# logical operator 
a , b = 22 , 20

# comparison operator 
a>11 and b<11

False

In [30]:

a>11 or b<11

True

In [31]:
not a<11 #it gives opposite value

True

In [ ]:
# If and If/else

In [ ]:
# ret_True_val, condition , retFalseValue
# we call it ternary operator
a = 55 
b = 44

In [ ]:
a if a>b else b