In [3]:
myString = 'We are Pakistani'
for char in myString:
    print(char)

W
e

a
r
e

P
a
k
i
s
t
a
n
i

In [ ]:
"""
List, [dyamic, hetrogenious, iterable, mutable, index, duplicate allow, order]
dictionary --> key-value pair {dynamic,mutable, key, duplicate allow(values), unorder} 
Tuple, (immutable,duplicate not allow)
Set, {immutable, duplicate not allow}

"""

In [4]:
myList = [10,11,12,13,14]
print(myList)
print(type(myList))

[10, 11, 12, 13, 14]
<class 'list'>

In [5]:
emptyList = []
myList2 = list([22,23,24])

In [6]:
sName = ['khan', 'ali', 'aslam']
marks = [10,20, 30]
print(sName[0], marks[1])
print('Student Name:'+ sName[0]+ ' and marks is '+ str(marks[0]))
print(f'Student Name {sName[0]}, and marks is {str(marks[0])}')

khan 20
Student Name:khan and marks is 10
Student Name khan, and marks is 10

In [7]:
myDict = { 'Khan':10,
          'ali': 20,
          'aslam':30
}
myDict

{'Khan': 10, 'ali': 20, 'aslam': 30}

In [8]:
myDict['aslam']

30

In [9]:
myDict2 = dict(
        {'Khan':10,
          'ali': 20,
          'aslam':30}
)

In [26]:
strings = ['Hello', 'world', 'to', 'python']

### list methods:
    1. append
    2. extend
    3. count
    4. sort,
    5. insert
    6.remove
    7.pop
    ...

In [27]:
strings

['Hello', 'world', 'to', 'python']

In [28]:
strings.append('programming')
print(strings)

['Hello', 'world', 'to', 'python', 'programming']

In [33]:
strings.insert(0, 'wElcome')

In [34]:
print(strings)

['wElcome', 'welcome', 'Hello', 'world', 'to', 'python', 'programming']

In [37]:
vowels = 'aeiou'
for string in strings:
    for char in string:
        if char.lower() in vowels:
            print(f'Char: {char} Vowel occured in string {string}')

Char: E Vowel occured in string wElcome
Char: o Vowel occured in string wElcome
Char: e Vowel occured in string wElcome
Char: e Vowel occured in string welcome
Char: o Vowel occured in string welcome
Char: e Vowel occured in string welcome
Char: e Vowel occured in string Hello
Char: o Vowel occured in string Hello
Char: o Vowel occured in string world
Char: o Vowel occured in string to
Char: o Vowel occured in string python
Char: o Vowel occured in string programming
Char: a Vowel occured in string programming
Char: i Vowel occured in string programming

In [14]:
a = [1,2,3]
b = [3,2,1]
c = [2,4,6]
listoflist = [a,b , c]
for slist in listoflist:
    print(slist, a)

[1, 2, 3] [1, 2, 3]
[3, 2, 1] [1, 2, 3]
[2, 4, 6] [1, 2, 3]

In [2]:
aslam_marks = [[5,6], [4,6], [15, 20]]
sumofMarks = 0
for sublist in aslam_marks:
    for singeMarks in sublist:
        sumofMarks+=singeMarks
        
if sumofMarks<70:
    sumofMarks+=10
print(sumofMarks)

66

# Class Task
### 1. find the sum of numbers in a list.
### 2. count the occurances of elements.
### 3 . flatten the list

In [57]:
myList = [1,2,2,3,3,3,4,4,4,4, 5,5,5,5, 7,7,7]

In [45]:
matrix = [
    [1,2,3],
    [3,2,1],
    [4,5,6]
]

#create a flatten list
#traverse for 2d
    #traverse for scaler
    #append to the flatten lsit

In [11]:
uniqValue = []
for value in myList:
    if value in uniqValue:
        pass                
    else:
        uniqValue.append(value)
for uniqVal in uniqValue:
    print(f'Value: {uniqVal} occured {myList.count(uniqVal)}')

Value: 10 occured 1
Value: 10 occured 1
Value: 11 occured 1
Value: 10 occured 1
Value: 11 occured 1
Value: 12 occured 1
Value: 10 occured 1
Value: 11 occured 1
Value: 12 occured 1
Value: 13 occured 1
Value: 10 occured 1
Value: 11 occured 1
Value: 12 occured 1
Value: 13 occured 1
Value: 14 occured 1

In [59]:
list1, list2 = [1,2,3,4,5], [5,4,3,2,1]
for l1, l2 in zip(list1, list2):
    print(l1, l2)

1 5
2 4
3 3
4 2
5 1

In [61]:
data = ['Khan', 'Ali', 'Aslam', 'Kamal']
for index, value in enumerate(data):
    if 'Aslam' in value:
        print(index)

2

### dictionary methods
1. update
2. items
3. keys
4. values()
5. get

In [95]:
result = {
    'Ali': 10,
    'Khan':20,
    'Kamal': 50
}
result.keys()

dict_keys(['Ali', 'Khan', 'Kamal'])

In [63]:
result.values()

dict_values([10, 20, 50])

In [64]:
result.items()

dict_items([('Ali', 10), ('Khan', 20), ('Kamal', 50)])

In [65]:
result['Ali']

10

In [66]:
result = {
    'Khan': [2.0,2.5,3.0,3],
    'Ali': [3.0,2.5,3.5,4]
    
}

In [67]:
result['Ali']

[3.0, 2.5, 3.5, 4]

In [73]:
result['Jamal'] = 60

In [77]:
result.update({'khan':60})

In [78]:
result

{'Ali': 10, 'Khan': 60, 'Kamal': 50, 'Jamal': 60, 'khan': 60}

In [79]:
result

{'Ali': 10, 'Khan': 60, 'Kamal': 50, 'Jamal': 60, 'khan': 60}

In [82]:
for key in result.keys():
    if 'khan' in key.lower():
        print(result[key])

60
60

In [85]:
for value in result.values():
    if value<70:
        print(value+10)

20
70
60
70
70

In [99]:
for key, value in result.items():
    if value<50:
        print(value)
        print(key)
        print(result[key])
        result[key] +=10
        print(result[key])

30
Ali
30
40
30
Khan
30
40

In [89]:
result[]

{'Ali': 30, 'Khan': 60, 'Kamal': 50, 'Jamal': 60, 'khan': 60}

In [91]:
result['Ali']+10

40